* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.intro {
    width: 90%;
    margin-left: 50px;
    text-align: justify;
    margin-top: 120px;
}

#introHeading {
    background-color: rgb(241, 149, 116);
    border: 2px solid black;
    display: inline-block;
    padding: 0 30px;
    height: 50px;
    align-content: center;
}

.intro h2 {
    text-decoration: underline;
    margin: auto;
}

.intro p {
    margin: 30px 0 0 20px;
}

hr {
    margin-top: 40px;
    width: 90%;
    margin-left: 50px;
}

.stateInfo {
    margin: 30px 0 0 100px;
    width: 90%;
}

.stateInfoHeading {
    background-color: rgb(113, 246, 113);
    border: 2px solid black;
    display: inline-block;
    padding: 0 30px;
    height: 40px;
    align-content: center;
}

.stateInfoHeading h3 {
    margin: auto;
    text-decoration: underline;
}

.stateNames {
    border: 2px solid black;
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 30px 30px;
    margin-right: 50px;
    border-radius: 10px;
}

.stateName {
    background-color: rgb(231, 229, 229);
    border: 2px solid orangered;
    width: 300px;
    height: 80px;
    align-content: center;
    flex-grow: 1;
    border-radius: 10px;
    padding: 0  20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stateName h3 {
    font-weight: bold;
}
.stateName p {
margin-top: 10px;
color: red;
}

.stateName button {
    height: 50%;
    border-radius: 10px;
    padding: 5px 15px;
    color: blue;
    border-color: blue;
    cursor: pointer;
    font-size: 15px;
}
.stateName button:hover {
    color: white;
    background-color: navy;
}